.places__text {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.62;
}

@media screen and (max-width: 980px) {
    .places__text {
         font-size: 16px;
    }
}

@media screen and (max-width: 630px) {
    .places__text {
        width: calc(100% - 16px*2);
        margin: auto;
    }
}