.lead__caption {
    margin: 10px 0 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 1.5px;
}

@media screen and (max-width: 1080px) {
    .lead__caption {
        margin: 8px 0 0;
    }
}

@media screen and (max-width: 976px) {
    .lead__caption {
        margin: 8px 0 0 24px;
    }
}

@media screen and (max-width: 746px) {
    .lead__caption {
        margin: 8px 0  0 16px;
    }
}