.footer {
    width: calc(100% - 48px*2);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 92px 0 24px;
}

@media screen and (max-width: 1080px) {
    .footer {
        padding: 84px 0 24px;
    }
}

@media screen and (max-width: 820px) {
    .footer {
        width: calc(100% - 24px*2);
        padding: 88px 0 24px;
    }
}

@media screen and (max-width: 746px) {
    .footer {
        width: calc(100% - 16px*2);
        flex-flow: column;
        align-items: start;
        padding: 64px 0 24px 0px;
    }
}